{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cotação do Dólar US$</title>
    <!-- Incluir estilos do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Incluir a fonte Montserrat do Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Incluir o CSS do Pikaday -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
    <link rel="stylesheet" href="{% static 'src/styles/dashboard.css' %}">
</head>
<body>
    <!-- Exibir mensagens -->
    {% if messages %}
        <div class="row">
            <div class="col-md-12">
                <ul class="messages list-unstyled">
                    {% for message in messages %}
                        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Cotação do Dólar US$</h1>
                <label for="moeda">Selecione uma moeda:</label>
                <select id="moeda" class="form-control">
                    <option value="Real">Real</option>
                    <option value="Euro">Euro</option>
                    <option value="Iene">Iene</option>
                </select>
                <!-- Adicionar campos de entrada de texto para as datas de início e fim -->
                <div class="form-group">
                    <label for="data_inicio">Data de Início:</label>
                    <input type="text" class="form-control" id="data_inicio" readonly>
                </div>
                <div class="form-group">
                    <label for="data_fim">Data de Fim:</label>
                    <input type="text" class="form-control" id="data_fim" readonly>
                </div>

                <!-- Adicionar o botão "Consultar" -->
                <button type="button" class="btn btn-primary" id="btnConsultar">Consultar</button>

                <div class="mt-4" id="chart-container"></div>
            </div>
        </div>
    </div>
    <script>
        var data = {{ dados_cotacao | safe }};
        var data_inicio = "{{ data_inicio }}"
        var data_fim = "{{ data_fim }}"
    </script>

    <!-- Incluir bibliotecas do Bootstrap, Highcharts, DateFns e Pikaday -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/pt-br.js"></script>

    <script src="{% static 'src/scripts/chart.js' %}"></script>
    <script src="{% static 'src/scripts/calendar.js' %}"></script>
</body>
</html>
